@import '../../../styles/colors';

.textarea {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid #C4C4C4;
    margin-bottom: 1.5rem;
    resize: vertical;
    min-height: 12rem;
}

.textareaLabel {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 0 1rem 0;
}