
@import './../../../styles/colors';

.formWrap {

    &__back {
        
        a {
            color: $secondary;
            font-size: 1.6rem;
            display: block;
            margin: 0 0 2rem 0;
        }
        
    }

    &__top {
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    
    }

    &__addPhotoTitle {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__bottom {
        padding: 3rem 0;
        
        select {
            height: 9rem;
            border: 1px solid #C4C4C4;
        }
    }

}